html, body { 
    height: 100%; 
}


#main { 
    min-height: 100%;
}

#content { 
    overflow:auto; padding-bottom: 180px; 
    
}  /* must be same height as the footer */

.footer { 
    position: relative; margin-top: -180px; /* negative value of footer height */ height: 180px; clear:both; 
    text-align: center;
}
