/*common settings*/

html {
    font-size: 15px; /* 1rem == 15px */
    line-height: 24px;
    box-sizing: border-box;
}


*{
    font-family: 'Spoqa Han Sans', sans-serif;
}
html, body { 
     margin:0;
    padding:0;
    height: 100%; 
}

.kaulikelion_logo {
  width:50px;
  height:50px;
}

.brand {
  font-family: 'Spoqa Han Sans', serif;
  font-size: 1.333rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}

.brand a{
    font-family: inherit;
}

.nav-link{
    font-size: 0.9333rem;
    line-height:1.4333;
    font-weight: 700;
    letter-spacing: 0.21em;
}

.navbar.navbar-expand-lg.navbar-light {
 background-color: #fbfbfb;    
}


.navbar-toggler {
    border: none;
}

#wrap { 
    position: relative;
    min-height: 100%;
}

#content { 
    /*background-color: #FFE7E7;*/
    overflow:auto; 
    
}

.header {
    
    height: 650px;
    background-image: url(../asset/main_bg.png);
    background-size : cover;
    /*background-repeat: no-repeat;*/
    background-position: center center;
    min-height:100%;
}

/*.footer { */
    /*position: relative; margin-top: -120px;  height: 120px; clear:both; */
/*    text-align: center;*/
/*    margin-bottom : 0;*/
/* }*/


.row {
    text-align:center;
}

.drink_loc img{
    width:100%;
}

#footer {
    background: #f8f8f8;
    position: absolute;
    width: 100%;
    text-align: center;
    clear: both;
}


footer h6 {
    margin-top: 1rem;
    margin-bottom : 1rem;
}



#footer p {
    margin-bottom: 1rem;
}

#footer p img {
    width: 32px;
    height: 32px;
    
}


